<div [formGroup]="profileForm" class="form" novalidate>
    <h3>Signup</h3>
  
    <label>
      First Name:
      <input type="text" formControlName="first_name" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="last_name" required>
    </label>
    
    <label>
      Email:
      <input type="text" formControlName="email" required>
    </label>

    <label>
        Username:
        <input type="text" formControlName="username" required>
      </label>
  
    <label>
      Password:
      <input type="text" formControlName="password" required>
    </label>

    <button type="submit" (click)="onSubmit()"
            [disabled]="profileForm.pristine || profileForm.status!='VALID'" class="btn btn-success">Submit</button>
  </div>
  <p>
    Form Status: {{ profileForm.status }}
  </p>